
<%= form_for(@sea_report, url: close_report_path(@sea_report.id) ,html: {method: "post"}) do |f| %>

	<div class="col-sm-12">
		<div class="col-sm-12">
			<label class="" for="input01"> Start of Sea Report(UTC)</label>  

			<div class="s">  
	           <%= f.text_field :created_at, class: "form-control", required: true, placeholder: "DateTime", style: "margin-bottom:10px",:readonly => true %>
			</div> 
		</div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-12">
			<label class="" for="input01"> Start of Sea Report(SMT)</label>  

			<div class="s">  
	           <%= f.text_field :opened_time_in_smt, class: "form-control", required: true, placeholder: "DateTime", style: "margin-bottom:10px",:readonly => true %>
			</div> 
		</div>
	</div>


    <!-- date-->
	<div class="col-sm-12">
		<div class="col-sm-6">
			<label class="" for="input01">Select Closing Date(SMT)</label>  
			<div class="s">
	          <input type="text" class="startDate form-control" name="date" id="dateStartReport" style = "margin-bottom:10px" required %>
			</div> 
		</div>

		<div class="col-sm-6">
			<label class="" for="input01">Select Closing Time(SMT)</label>  
			<div class="s">
	          <input type="number" name="hours" required placeholder="hours" min="0" max="23" class="form-control time-width close_hours"  %>
	          
	          <input type="number" name="minutes" required placeholder="minutes"  class="form-control time-width close_min" min="0" max="59" %>

			  <input type="number" name="seconds" required placeholder="seconds"  class="form-control time-width close_sec" min="0" max="59" %>
		          
			</div> 
		</div>
	</div>

    <% if @sea_report.is_closed %>
	    <!--Description -->
		<div class="col-sm-12">
			<div class="col-sm-12">
				<label class="" for="input01"> Report Period in hh-mm-ss</label>  

				<div class="s">  
		           <%= f.text_field :report_period_in_hrs, class: "form-control", style: "margin-bottom:10px",:readonly => true %>
				</div> 
			</div>
		</div>
    

    <% end %>


    <!--Description -->
	<div class="col-sm-12">
		<div class="col-sm-12">
			<label class="" for="input01"> Description</label>  

			<div class="s">  
	           <%= f.text_field :description, class: "form-control", required: true, placeholder: "Description", style: "margin-bottom:10px",:readonly => true %>
			</div> 
		</div>
	</div>


    <div>
   	   <!-- Zone time as a hidden field -->
	   <%= f.hidden_field :zone_time, value: @sea_report.zone_time, id: "hidden_zone_time" %>
   </div>

    <!-- Zone time--> 
	<div class="col-sm-12" style="margin-top: 10px;"> 
		<div class="col-sm-4">
			<label class="" for="input01">Select Zone time</label>  
			<div class="s">  

		       <%= f.select :zone_time, options_for_select([["-11:00","-1100"], ["-10:00","-1000"],["-09:00","-0900"], ["-08:00","-0800"], ["-07:00","-0700"],["-06:00","-0600"],["-05:00","-0500"], ["-04:30","-0430"], ["-04:00","-0400"], ["-03:30","-0330"], ["-03:00","-03:00"], ["-02:00","-0200"], ["-01:00","-0100"], ["+00:00","+0000"], ["+01:00","+0100"], ["+02:00","+0200"], ["+03:00","+0300"], ["+03:30","+0330"],["+04:00","+0400"], ["+04:30","+0430"],["+05:00","+0500"], ["+05:30","+0530"],["+05:45","+0545"],["+06:00","+0600"],["+06:30","+0630"],["+07:00","+0700"],["+08:00","+0800"],["+09:00","+0900"], ["+09:30","+0930"],["+10:00","+1000"],["+11:00","+1100"], ["+12:00","+1200"], ["+12:45","+1245"],["+13:00","+1300"]]), class: "form-control", required: true, width: "100%",  placeholder: "Zonetime", style: "margin-bottom:10px" %>

			</div>
		</div>

	    <div class="col-sm-8">
			<label class="" for="input01">Is this the last sea report for the voyage</label>

			<div class="s">  
		       <%= f.check_box :is_last_report, {:class => "last_report_checkbox" }, "true", "false" %>
			</div> 
	    </div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary" , id ="create_issue" style="margin-top: 23px;" > Close the Report </button>
		</div>
	</div>

<%end%>

<script>

    //Last report checked of closing report
    $(".last_report_checkbox").on( "click", function( event ) {

      // If value is true
      checkbox_clicked = $(this)[0].checked;

      if (checkbox_clicked){
        message = "Is the closing time of this sea report same as the end of the sea passage time"
        changeConfirmation = confirm(message);

        if (changeConfirmation) {
          $(this)[0].value = "true";
        } else {
         $(this)[0].value = "false";
        }
      }
    });

//===========================================================
//== Zone time changes in the sea report.

    $("#sea_report_zone_time").bind("change", function(e){ 

      last_z = $("#hidden_zone_time")[0].value;
      last_zone_time = [last_z.slice(0, 3), ".", last_z.slice(3)].join('');
      last_zone_time = parseInt(last_zone_time);

      changed_zone = this.value;
      changed_zone_time = [changed_zone.slice(0, 3), ".", changed_zone.slice(3)].join('');
      changed_time = parseInt(changed_zone_time);

      if (last_zone_time < changed_time){
        // Colon behind 2 digits
        hrs = changed_time - last_zone_time;
        var msg = "Ship clocks advanced by " + hrs + " hours";
      }

      else if (last_zone_time > changed_time){
        hrs = last_zone_time - changed_time;
        var msg = "Ship clocks retarded by " + hrs + " hours";
      }
      else {
        var msg = "Zone time remains the same";
      }

      changeConfirmation = confirm("Are You Sure?");
      if (changeConfirmation) {
        alert(msg);
        $("#sea_report_description")[0].value = msg;
      } else {
       $(this).val(last_z);
      }
    });
//===========================================================
</script>


