<div class="alert alert-success" id ="flash_create_message"></div>
<div class="alert alert-danger" id ="flash_error_message"></div>
<fieldset class="fieldset bg-change">

<h4><b>
Report <%= @report_number %> from <%= @sea_port.starting_port_name %> to <%= @sea_port.reached_port_name %>
</b> </h4>
<br>

<div class="container col-md-12">

  <!-- Menu bar-->
  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#port_details">Port Details</a></li>
      <li><a data-toggle="tab" href="#passage_plan">Passage Plan</a></li>

      <li><a data-toggle="tab" href="#operating_condition" onclick="check_overdue_for_speed_and_torsion();">Operating condition</a></li>
      <li><a data-toggle="tab" href="#weather_distance">Weather and Distance</a></li>
      <li><a data-toggle="tab" href="#close_report">Close the Report</a></li>
      <li><a data-toggle="tab" href="#help">Help</a></li>
  </ul>
  <br>
  <br>

  <!-- Tab content -->
  <!-- <fieldset class="tab-content fieldset bg-change1"> -->
  <fieldset class="fieldset bg-change tab-content">
  <!-- <div class="tab-content fieldset col-md-10 bg-change1"> -->

      <!-- First Section -->
 
    <div id="port_details" class="tab-pane fade in active">
      <h4><b>Port Details</b></h4>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= render 'sea_ports/edit_sea_port' %>
        </div>
      </div>
    </div>

    <div id="passage_plan" class="tab-pane fade">
      <h4><b>Passage Plan of Report <%= @report_number %></b></h4>
      <div class="row">
        <div class="col-md-12">
          <%= render 'passage_plan' %>
        </div>
      </div>

    </div>

    <!-- Operating COndition-->
    <div id="operating_condition" class="tab-pane fade">
      <h4><b>Operating Conditions</b></h4>
      <div class="row">
        <div class="col-md-12">
          <%= render 'operating_condition' %>
        </div>
      </div>
    </div>

    <!-- Weather and Distance -->
    <div id="weather_distance" class="tab-pane fade" style="padding-left: 1%;">
      <h4><b>Weather and Distance</b></h4>
      <div class="row">
        <div class="col-md-12">
          <%= render 'weather_distance' %>
        </div>
      </div>
    </div>

    <div id="close_report" class="tab-pane fade">
      <h4><b>Close Report</b></h4> 
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= render 'close_report' %>
        </div>
      </div>
    </div>
  </div>

</div>
</fieldset>