<%= form_tag passage_plan_path(@sea_report.id), :method => :post do %>

  <table id="passage_table" border="1" style="">
    <tr>
      <td colspan="6" class="font_size-10">PLEASE ENTER THE BERTH TO BERTH CO-ORDINATES IN THE BELOW ROWS ONLY </td>
    </tr>

    <tr>
      <td colspan="3" class="font_size-10">Longitude </td>
      <td colspan="3" class="font_size-10">Latitude</td>
    </tr>


    <tr>
      <td class="font_size-10"> 0-90 </td>
      <td class="font_size-10"> 0.00-59.99 </td>
      <td class="font_size-10"> Direction </td>

      <td class="font_size-10"> 0-180 </td>
      <td class="font_size-10"> 0.00-59.99 </td>
      <td class="font_size-10"> Direction </td>

    </tr>


    <tr>
      <td class="font_size-10"> DEGREES </td>
      <td class="font_size-10"> MINUTES (IN DECIMAL) </td>
      <td class="font_size-10"> (N OR S) </td>

      <td class="font_size-10"> DEGREES </td>
      <td class="font_size-10"> MINUTES (IN DECIMAL) </td>
      <td class="font_size-10"> (E OR W) </td>
    </tr>


    <tr>
      <td class="font_size-10"><%= number_field_tag "passage[][long_degree]", nil, :step => 'any' %></td>
      <td class="font_size-10"> <%= text_field_tag "passage[][long_min]" %> </td>

      <td class="font_size-10"> <%= text_field_tag "passage[][long_dir]" %> </td>

      <td class="font_size-10"> <%= text_field_tag "passage[][lat_degree]" %> </td>
      <td class="font_size-10"> <%= text_field_tag "passage[][lat_min]" %> </td>

      <td class="font_size-10"> <%= text_field_tag "passage[][lat_dir]" %> </td>
    </tr>


  </table>

  <br>
  <%= submit_tag 'Save' %>
  <button type="button" id="new_row">Add new Row</button>
  <br>





<% end %>
