
  <!-- Second row of first division(col-md-6)-->
    <div class="row">
      <table border="1" style="width: 95%;">

        <tr>
          <td class="f-size-8">Oil properties</td>
          <td class="f-size-8">H.S.HFO</td>

          <td class="f-size-8">L.S.HFO</td>

          <td class="f-size-8">H.S.MDO</td>      
          <td class="f-size-8">L.S.MDO</td>

        </tr>

        <tr>
          <td class="f-size-8" style="width: 93% !important;">LCV KJ/Kg</td>

          <td>
            <%= f.number_field :properties_lcv_hshfo, :required => true, :step =>'0.01', :min=> '0.00', :max => '999999.99', :style => 'width: 75px;' %>
          <td>
            <%= f.number_field :properties_lcv_lshfo, :required => true, :step =>'0.01', :min=> '0.00', :max => '999999.99', :style => 'width: 75px;' %>
          </td>
          <td>
            <%= f.number_field :properties_lcv_hsmdo, :required => true, :step =>'0.01', :min=> '0.00', :max => '999999.99', :style => 'width: 75px;' %>
          </td>

          <td>
            <%= f.number_field :properties_lcv_lsmdo, :required => true, :step =>'0.01', :min=> '0.00', :max => '999999.99', :style => 'width: 75px;' %>
          </td>
        </tr>

        <tr>
          <td class="f-size-8" style="width: 93% !important;">Sulphur %</td>

          <td>
            <%= f.number_field :properties_sulphur_hshfo, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 75px;' %>
          <td>
            <%= f.number_field :properties_sulphur_lshfo, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 75px;' %>
          </td>
          <td>
            <%= f.number_field :properties_sulphur_hsmdo, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 75px;' %>
          </td>

          <td>
            <%= f.number_field :properties_sulphur_lsmdo, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 75px;' %>
          </td>
        </tr>
      </table>
    </div>
