<p id="notice"><%= notice %></p>

<h1>Listing Power Fuels</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @power_fuels.each do |power_fuel| %>
      <tr>
        <td><%= link_to 'Show', power_fuel %></td>
        <td><%= link_to 'Edit', edit_power_fuel_path(power_fuel) %></td>
        <td><%= link_to 'Destroy', power_fuel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Power fuel', new_power_fuel_path %>
