<%if @sea_report.report_number == 1 %>
	<% @fixed = false %>
<% else %>
    <% @fixed = true %>
<% end %>

<%= form_for(@operating_condition, url: operating_conditions_path ,html: {method: "post"}) do |f| %>

<style> 
	th{ background-color: #ADB2DA; text-align: center;}

 </style>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <!-- Drafts Table -->
	<h4><b> Drafts: </b></h4>
	<table border="1">

		<%= f.hidden_field :sea_report_id, :value => @sea_report.id %>
	    <tr>
	    	<th> </th>
	    	<th> Visual (Departure <br> Draft - in meters) </th>
	    	<th> Loadicator(Departure -<br>  in meters) </th>
	    	<th> Loadicator(Daily <br> updated - in meters) </th>
	    </tr>
	    <tr>

	       <th> Fwd </th>
	       <td class="font_size-10">
		    <%= f.number_field :visual_fwd, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;', :readonly => @fixed %>
	       </td>

	       <td class="font_size-10">
		    <%= f.number_field :load_dep_fwd, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;', :readonly => @fixed %>
	       </td>

	       <td class="font_size-10">
		    <%= f.number_field :load_daily_fwd, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;' %>
	       </td>
	    </tr>

	    <tr>
	       <th> Mid Ships </th>
	       <td class="font_size-10">
		    <%= f.number_field :visual_mid_ship, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;', :readonly => @fixed %>
	       </td>

	       <td class="font_size-10">
		    <%= f.number_field :load_dep_mid_ship, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;', :readonly => @fixed %>
	       </td>

	       <td class="font_size-10">
		    <%= f.number_field :load_daily_mid_ship, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;' %>
	       </td>
	    </tr>

	    <tr>
	       <th> Aft </th>
	       <td class="font_size-10">
		    <%= f.number_field :visual_aft, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;', :readonly => @fixed %>
	       </td>

	       <td class="font_size-10">
		    <%= f.number_field :load_dep_aft, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;', :readonly => @fixed %>
	       </td>

	       <td class="font_size-10">
		    <%= f.number_field :load_daily_aft, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;' %>
	       </td>
	    </tr>


	    <tr>
	       <th class="font-size-14">  Trim(aft-fwd) </th>
	       <td class="font_size-10">
		    <%= f.number_field :visual_trim, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;', :readonly => true %>
	       </td>

	       <td class="font_size-10">
		    <%= f.number_field :load_dep_trim, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;', :readonly => true %>
	       </td>

	       <td class="font_size-10">
		    <%= f.number_field :load_daily_trim, :required => true, :step =>'0.01', :min=> '0.00', :max => '99.99', :style => 'width: 150px;', :readonly => true %>
	       </td>


	    </tr>
	  </table>
  	<br>

    <h4><b> Shearing forces and Bending moments </b></h4>
	<table border="1">
	    <tr>
	    	<th> </th>
	    	<th> Loadicator (Departure)<br> ( in % ) </th>
	    	<th> Loadicator(Daily updated)<br> ( in % )</th>
	    </tr>
	    <tr>

	       <th> Max Shearing forces (SF)<br> Sea condition </th>
	       <td class="font_size-10">
		    <%= f.number_field :loading_dep_sf, :required => true, :step =>'0.01', :min=> '0.00', :max => '999.99', :style => 'width: 177px; height: 35px;' %>
	       </td>

	       <td class="font_size-10">
		    <%= f.number_field :loading_daily_sf, :required => true, :step =>'0.01', :min=> '0.00', :max => '999.99', :style => 'width: 177px; height: 35px;' %>
	       </td>

	    </tr>

	    <tr>
	       <th> Max Bending Moments ( BM) <br>Sea Condition  </th>
	       <td class="font_size-10">
		    <%= f.number_field :loading_dep_bm, :required => true, :step =>'0.01', :min=> '0.00', :max => '999.99', :style => 'width: 177px; height: 35px;' %>
	       </td>

	       <td class="font_size-10">
		    <%= f.number_field :loading_daily_bm, :required => true, :step =>'0.01', :min=> '0.00', :max => '999.99', :style => 'width: 177px; height: 35px;' %>
	       </td>

	    </tr>
    </table>

    <br>
    <!-- Metacentric Height -->
	<div class="col-sm-12" style="padding-left: 1px;">

        <div class="col-sm-5" style="padding-left: 1px;">
            <br>
			<b>Metacentric Height(GM in meters) </b>
		</div>

        <div class="col-sm-4 s">
           	<%= f.number_field :metacentric_height, class: "form-control", required: true, placeholder: "Metacentric Height", style: "margin-bottom:10px", :step =>'0.01', :min=> '0.00', :max => '99.99'%>
		</div> 
		<div class="col-sm-1">
		    <br>
			<b>meters</b>
		</div>
	</div>

    <!-- Ballast water quantity -->
	<div class="col-sm-12" style="padding-left: 1px;">

        <div class="col-sm-5" style="padding-left: 1px;">
            <br>
			<b>Ballast water quantity(Metric Tonnes): </b>
		</div>

        <div class="col-sm-4 s">
           <%= f.number_field :ballast_water_quantity, class: "form-control", required: true, placeholder: "Ballast water quantity", style: "margin-bottom:10px", :step =>'0.01', :min=> '0.00', :max => '999999999.99' %>
        </div>
		<div class="col-sm-1">
		    <br>
			<b>tonnes</b>
		</div> 
	</div>

    <!-- Working Status of Speed log -->
	<div class="col-sm-12" style="padding-left: 1px;">

        <div class="col-sm-5" style="padding-left: 1px;">
			<br>
			<b>Working Status of Speed log: </b>
		</div>

        <div class="col-sm-5 s">
               <br>
		       <%= f.select :speed_log_status, options_for_select(["Working", "Not Working"]), class: "form-control", required: true, width: "100%",  placeholder: "Working Status", style: "margin-bottom:10px" %>
        </div>
	</div>

    <!-- Speed log Calibration Date: -->
	<div class="col-sm-12" style="padding-left: 1px;">
        <div class="col-sm-5" style="padding-left: 1px;">
			<br>
			<b>Speed log Calibration Date: </b>
		</div>

        <div class="col-sm-6 s">
           <br>
           <%= f.text_field :speed_log_date, class: "startDate form-control", required: true, placeholder: "Calibration Date", style: "margin-bottom:10px", id:"dateStartReport" %>

        </div>
	</div>

    <!-- Is the Vessel fitted with the torsion meter -->
	<div class="col-sm-12" style="padding-left: 1px;">

        <div class="col-sm-5" style="padding-left: 1px;">
			<b>Is the Vessel fitted with the torsion meter: </b>
		</div>

        <div class="col-sm-5 s">
		       <%= f.select :vessel_fitted_with_torsion, options_for_select(["Yes", "No"]), class: "form-control", required: true, width: "100%", style: "margin-bottom:10px" %>
        </div>
	</div>

    <!--  Working Status of Torsion meter: -->
	<div class="col-sm-12" style="padding-left: 1px;">

        <div class="col-sm-5" style="padding-left: 1px;">
			<br>
			<b> Working Status of Torsion meter:: </b>
		</div>

        <div class="col-sm-5 s">
		       <br>
		       <%= f.select :torsion_meter_status, options_for_select(["Working", "Not Working"]), class: "form-control", required: true, width: "100%",  placeholder: "Working Status", style: "margin-bottom:10px" %>
        </div>
	</div>

    <!-- Torsion meter Calibration Date: -->
	<div class="col-sm-12" style="padding-left: 1px;">
        <div class="col-sm-5" style="padding-left: 1px;">
			<br>
			<b>Torsion meter Calibration Date: </b>
		</div>

        <div class="col-sm-6 s">
           <br>
           <%= f.text_field :torsion_meter_date, class: "startDate form-control", required: true, placeholder: "Torsion meter Date", style: "margin-bottom:10px", id:"dateStartReport" %>

        </div>
	</div>

    <!-- Maximum Roll angle -->
	<div class="col-sm-12" style="padding-left: 1px;">
        <div class="col-sm-5" style="padding-left: 1px;">
			<b>Maximum Roll angle: </b>
		</div>

        <div class="col-sm-4 s">
		    <%= f.number_field :roll_angle, :required => true, :step =>'0.01', :min=> '0.00', :class => "form-control", :max => '99.99', :placeholder => "Roll angle" %>
        </div>

		<div class="col-sm-1">
		    <br>
		   	<b>degrees</b>
		</div> 
	</div>

    <br><br>
  	<%= submit_tag 'Update the Operating Condition' %>
  </div>
</div>
<% end %>
