<!-- 
<%= form_for(@passage_plan) do |f| %>
  <% if @passage_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@passage_plan.errors.count, "error") %> prohibited this passage_plan from being saved:</h2>

      <ul>
      <% @passage_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <table id="passage_table" border="1" style="">
    <tr>
      <td colspan="8" class="font_size-10">PLEASE ENTER THE BERTH TO BERTH CO-ORDINATES IN THE BELOW ROWS ONLY </td>
    </tr>

    <tr>
      <td colspan="3" class="font_size-10">Latitude</td>
      <td colspan="3" class="font_size-10">Longitude</td>
    </tr>

    <tr>
      <td class="font_size-10"> 0-90 </td>
      <td class="font_size-10"> 0.00-59.99 </td>
      <td class="font_size-10"> Direction </td>

      <td class="font_size-10"> 0-180 </td>
      <td class="font_size-10"> 0.00-59.99 </td>
      <td class="font_size-10"> Direction </td>
    </tr>

    <tr>
      <td class="font_size-10"> DEGREES </td>
      <td class="font_size-10">
       MINUTES
       <br>(DECIMAL)
      </td>
      <td class="font_size-10"> (N OR S) </td>

      <td class="font_size-10"> DEGREES </td>
      <td class="font_size-10">
       MINUTES
       <br> (DECIMAL) 
      </td>
      <td class="font_size-10"> (E OR W) </td>
      <td class="font_size-10"> (RL/GC) </td>
      <td class="font_size-10"> Waypoint </td>
      <td class="font_size-10">
       Start of<br> sea passage
      </td>
      <td class="font_size-10">
       End of<br> sea passage
      </td>

    </tr>

    <tr>
      <td class="font_size-10"><%= f.number_field :lat_degree, :required => true, :min => 0, :max => 90, :style => 'width: 60px;' %></td>

      <td class="font_size-10"><%= f.number_field :lat_min, :required => true, :step =>'0.01', :min=> '0.00', :max => '59.99', :style => 'width: 60px;' %></td>


      <td class="font_size-10">
        <%= f.select(:lat_dir, [['North', 'N'], ['South', "S"]]) %>
      </td>

      <td class="font_size-10"><%= f.number_field :long_degree, :required => true, :min => 0, :max => 90, :style => 'width: 60px;' %></td>

      <td class="font_size-10">
        <%= f.number_field :long_min, :required => true, :step =>'0.01', :min=> '0.00', :max => '59.99', :style => 'width: 60px;' %>
      </td>

      <td class="font_size-10">
        <%= f.select(:long_dir, [['East', 'E'], ['West', "W"]]) %>
      </td>


      <td class="font_size-10">
        <%= f.select(:rl_gc, [['RL', 'RL'], ['GC', "GC"]]) %>
      </td>

      <td class="font_size-10"> 
        <%= @waypoint_no %>
      </td>

      <%= f.hidden_field :waypoint_no, :value => @waypoint_no %>


      <td class="font_size-10"> 
        <%= f.check_box :start_point, {:class => "start_point" , :onclick=>"match_endpoints(this)" }, "true", "false" %>
      </td>

      <td class="font_size-10"> 
        <%= f.check_box :end_point, {:class => "end_point", :onclick=>"match_startpoints(this)"}, "true", "false" %>
      </td>

    </tr>
  </table>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>

  function deleteRow(btn) {
    var row = btn.parentNode.parentNode;
    row.parentNode.removeChild(row);
  }


  function match_endpoints(start_point) {

    parent_element  = start_point.parentElement.parentElement;
    end_point_checked = parent_element.getElementsByClassName('end_point')[0].checked;

    if (end_point_checked == true){
      alert("Start point and end point cannot be same") ;
      start_point.checked = false;
      return;
    }

  }

  function match_startpoints(end_point) {

    parent_element  = end_point.parentElement.parentElement;
    start_point_checked = parent_element.getElementsByClassName('start_point')[0].checked;

    if (start_point_checked == true){
      alert("Start point and end point cannot be same") ;
      end_point.checked = false;
      return false;
    }

  }

</script>

-->