<!-- Partial to display new passage plan on edit of sea report-->

<%= form_tag create_passage_plan_path(@sea_report.id), :method => :post do %>

  <table id="passage_table" border="1" style="">

    <%= render 'passage_plans/table_headings' %>
    <tr>
      <td class="font_size-10"><%= number_field_tag "passage[][lat_degree]",nil, :required => true, :min => 0, :max => 90, :style => 'width: 60px;' %></td>

      <td class="font_size-10"> <%= number_field_tag "passage[][lat_min]",  nil, :required => true, :step =>'0.01', :min=> '0.00', :max => '59.99', :style => 'width: 60px;'  %> </td>

      <td class="font_size-10">
       <select name="passage[][lat_dir]" style ='width: 50px;' >
            <option value="N">North</option>
            <option value="S">South</option>
       </select>
      </td>

      <td class="font_size-10"> <%= number_field_tag "passage[][long_degree]", nil, :required => true, :min => 0, :max => 180, :style => 'width: 60px;'  %> </td>

      <td class="font_size-10"> <%= number_field_tag "passage[][long_min]",  nil, :required => true, :step =>'0.01', :min=> '0.00', :max => '59.99', :style => 'width: 60px;'  %> </td>

      <td class="font_size-10">
       <select name="passage[][long_dir]" style='width: 50px;' >
            <option value="E">East</option>
            <option value="W">West</option>
       </select>
      </td>

      <td class="font_size-10">
       <select name="passage[][rl_gc]" style='width: 50px;' >
            <option value="RL">RL</option>
            <option value="GC">GC</option>
       </select>
      </td>

      <td class="font_size-10 way_point_no"> 
        <%= @passage_plan_count + 1 %>
      </td>

      <%= hidden_field_tag 'passage[][waypoint_no]', @passage_plan_count +1 %>

      <td class="font_size-10"> 
        <%= radio_button_tag 'passage[][start_point]', 'true', checked = false, :class => 'start_point', :onClick=>"match_endpoints(this)"  %>
      </td>

      <td class="font_size-10"> 
        <%= radio_button_tag 'passage[][end_point]', 'true', checked = false, :class => 'end_point' , :onClick=>"match_startpoints(this)"%>
      </td>

    </tr>
  </table>

  <br>
  <%= submit_tag 'Save' %>
  <button type="button" id="new_waypoint">Add new Waypoint</button>
  <br>
<% end %>



