<!-- Partial to display list of passage plans on edit of sea report-->

<%= form_tag create_passage_plan_path(@sea_report.id), :method => :post do %>

<table id="passage_table" border="1" style="">

  <%= render 'passage_plans/table_headings' %>
  <tbody>
    <% @passage_plans.each do |passage_plan| %>

    <tr id="passage-plan<%= passage_plan.id %>">
      <td class="font_size-10"><%= passage_plan.lat_degree %></td>

      <td class="font_size-10"> <%= passage_plan.lat_min %> </td>

      <td class="font_size-10"> <%= passage_plan.lat_dir %> </td>

      <td class="font_size-10"><%= passage_plan.long_degree %></td>

      <td class="font_size-10"> <%= passage_plan.long_min %> </td>

      <td class="font_size-10"> <%= passage_plan.long_dir %> </td>

      <td class="font_size-10"> <%= passage_plan.rl_gc %> </td>

      <td class="font_size-10 way_point_no"> <%= passage_plan.waypoint_no %> </td>

      <td class="font_size-10">
        <% if passage_plan.start_point == true %>
          <%= image_tag 'check-icon.png', style: 'height: 10%;'%>
        <% end %>
      </td>

      <td class="font_size-10">
        <% if passage_plan.end_point == true %>
          <%= image_tag 'check-icon.png', style: 'height: 10%;'%>
        <% end %>
      </td>

      <% unless @closed_sea_report %>
        <td title='Insert waypoint after this waypoint'>
          <%= link_to new_passage_plan_path(:previous_passage_id => passage_plan.id) do %>
              <%= image_tag 'show.jpg', style: 'height: 10%;'%>
          <% end %>
        </td>

        <td title='Edit this waypoint.'%>
          <%= link_to edit_passage_plan_path(passage_plan.id), :remote => true do %>
              <%= image_tag 'edit-notes.png', style: 'height: 6%;'%>
          <% end %>
        </td>

        <td title='Delete this waypoint.'>
          <%= link_to passage_plan, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= image_tag 'delete.png', style: 'height: 10%;'%>
          <% end %>
        </td>
      <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= submit_tag 'Save' %>
<button type="button" id="new_waypoint">Add new Waypoint</button>

<br>
<% end %>