<!-- To display list of weather_distance on edit of sea report-->

<!-- First table -->
<table id="weather_first_table" border="1" style="width: 95%;">

    <tr>
      <td class="f-size-8">Observation date and time <br> (SMT)</td>
      <td class="f-size-8">Observation date and time<br> (UTC)</td>

      <td class="f-size-8">Average ME Power<br>(In kW)</td>

      <td class="f-size-8">ME <br>RPM</td>      
      <td class="f-size-8">Speed <br>Logged <br>(in Knots)</td>
      <td class="f-size-8">Speed observed<br>(in Knots)</td>

      <td class="f-size-8">Trip counter<br> log<br>(Nm)</td>
      <td class="f-size-8">Trip counter<br>GPS<br>(Nm)</td>
      <td class="f-size-8">Distance <br>remaining<br> to EOSP <br>(Nm)</td>
      <td class="f-size-8">Time <br>remaining<br> to EOSP <br>(hours)</td>
      <td class="f-size-8">Average <br> Rudder angle</td>
    </tr>

  <% @weather_distances.each do |weather_distance| %>
    <tr class="first_table_values"  style="">

    <%= hidden_field_tag "observation_smt",weather_distance.observation_smt , :required => true, :class => "observation_smt" %>


    <%= hidden_field_tag "observation_utc",weather_distance.observation_utc , :required => true, :class => "observation_utc" %>

      <td style = 'width: 148px; font-size: 11px;'>
        <%= weather_distance.observation_smt  %>
      </td>

      <td style = 'width: 164px; font-size: 11px;'>
        <%= weather_distance.observation_utc %>
      </td>


      <td style = 'width: 92px; font-size: 11px;'>
        <%= weather_distance.me_power %>
      </td>

      <td style = 'width: 52px; font-size: 11px;'>
        <%= weather_distance.me_rpm %>
      </td>

      <td style = 'width: 60px; font-size: 11px;'>
        <%= weather_distance.speed_knots %>
      </td>

      <td style = 'width: 68px; font-size: 11px;'>
        <%= weather_distance.speed_observed_knots %>
      </td>

      <td style = 'width: 52px; font-size: 11px;'>
        <%= weather_distance.trip_counter_log %>
      </td>

      <td style = 'width: 52px; font-size: 11px;'>
        <%= weather_distance.trip_counter_gps %>
      </td>

      <td style = 'width: 56px; font-size: 11px;'>
        <%= weather_distance.distance_rem_eosp %>
      </td>

      <td style = 'width: 64px; font-size: 11px;'>
        <%= weather_distance.time_rem_eosp %>
      </td>

      <td style = 'width: 48px; font-size: 11px;'>
        <%= weather_distance.avg_rudder_angle  %>
      </td>


      <td title='Delete this waypoint.'>
          <%= link_to weather_distance, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= image_tag 'delete.png', style: 'height: 10%;'%>
          <% end %>
      </td>
    </tr>
    <% end %>

    <!-- Average fields--> 
    <tr>
      <td class="f-size-9" colspan = "2"> Average </td>
      <td style="width: 94px; font-size: 11px;"><%= @sea_report.avg_me_power %></td>
      <td style="width: 50px; font-size: 11px;"><%= @sea_report.avg_me_rpm %></td>
      <td style="width: 60px; font-size: 11px;"><%= @sea_report.avg_speed_log_knots %></td>
      <td style="width: 67px; font-size: 11px;"><%= @sea_report.avg_speed_observed_knots %></td>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>

  </table>

  <br><br>

  <!-- Start of the Second table -->
  <table id="second_weather_table" border="1"  style="width: 95%;">

    <tr>
      <td class="f-size-8"> 
        <table border="1" style="width: 220px;"> 
          <tr><td colspan="12" style="text-align: center;"> Position </td> </tr>
          <tr> 
            <td colspan="6" style="text-align: center; font-size: 10px;"> Latitude </td>
            <td colspan="6" style="text-align: center; font-size: 10px;"> Longitude </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center; font-size: 10px;"> Deg </td>
            <td colspan="3" style="text-align: center; font-size: 10px;"> Min </td>
            <td colspan="1" style="text-align: center; font-size: 10px;"> N/S </td>

            <td colspan="2" style="text-align: center; font-size: 10px;"> Deg </td>
            <td colspan="3" style="text-align: center; font-size: 10px;"> Min </td>
            <td colspan="1" style="text-align: center; font-size: 10px;"> E/W </td>
          </tr>
        </table>

      </td>

      <td class="f-size-8">True wind force <br>(BF)</td>
      <td class="f-size-8">True Wind<br>direction<br>(000-359)</td>
      <td class="f-size-8">True Wind<br>speed<br>(in Knots)</td>

      <td class="f-size-8">Wave height <br>(in meters)</td>
      <td class="f-size-8">True Swell Direction <br>(000-359)</td>
      <td class="f-size-8">True Swell Height <br>(in meters)</td>

      <td class="f-size-8"> Water depth<br>(in meters)</td>
      <td class="f-size-8"> Couse over <br>ground <br>(000-359)</td>
      <td class="f-size-8"> Gyro course <br>(000-359)</td>
      <td class="f-size-8"> Compass course <br>(000-359)</td>

      <td class="f-size-8">Is the<br>observation <br> Reliable ?</td>
    </tr>



  <% @weather_distances.each do |weather_distance| %>
    <tr>

      <td style="width: 220px;">
        <div style = 'width: 40px; font-size: 11px;', class = 'padding-0-col' >
          <%= weather_distance.position["lat_degree"] %>&deg
        </div>

        <div style = 'width: 40px; font-size: 11px;', class = 'padding-0-col' >
          <%= weather_distance.position["lat_min"] %>"
        </div>

         <div style="width: 30px;height: 23px; font-size:11px;" class = 'padding-0-col' >
           <%= weather_distance.position["lat_dir"] %>
         </div>

        <div style = 'width: 40px; font-size: 11px;', class = 'padding-0-col' >
          <%= weather_distance.position["long_degree"] %>
        </div>

        <div style = 'width: 40px; font-size: 11px;', class = 'padding-0-col' >
          <%= weather_distance.position["long_min"] %>"
        </div>

        <div style="width: 30px;height: 23px; font-size:11px;" class = 'padding-0-col' >
          <%= weather_distance.position["long_dir"] %>
        </div>
      </td>

      <!-- True wind force(BF) -->
      <td style = 'width: 76px; font-size: 11px;' class='true_wind_force'>
        <%= weather_distance.true_wind_force %>
      </td>

      <!-- True wind direction -->
      <td style = 'width: 60px; font-size: 11px;'>
        <%= weather_distance.true_wind_dir %>
      </td>

      <!-- True wind speed in Knots -->
      <td style = 'width: 48px; font-size: 11px;'>
        <%= weather_distance.true_wind_speed_knots %>
      </td>

      <!-- Wave height in meters(Seas) -->
      <td style ='width: 60px; font-size: 11px;'>
        <%= weather_distance.wave_height %>
      </td>

      <!-- True Swell Direction (0-359 degrees) -->
      <td style ='width: 76px; font-size: 11px;'>
        
        <%= weather_distance.true_swell_direction %>
      </td>

    <!-- True Swell height in meters -->
    <td style ='width: 60px; font-size: 11px;'>
      <%= weather_distance.true_swell_height %>
    </td>

    <!-- Water depth in meters -->
    <td style ='width: 52px; font-size: 11px;'>
      <%= weather_distance.water_depth %>
    </td>

    <!-- Couse over ground (0-359) -->
    <td style ='width: 44px; font-size: 11px;'>
      <%= weather_distance.couse_over_ground %>
    </td>

    <!-- Gyro course (0-359) -->
    <td style ='width: 44px; font-size: 11px;'>
      <%= weather_distance.gyro_course %>
    </td>
 
    <!-- Compass course (0-359) -->
    <td style ='width: 48px; font-size: 11px;'>
      <%= weather_distance.compass_course %>
    </td>

    <!-- Reliable Observation -->
    <td style ='width: 23px; font-size: 11px;'>
     <%if weather_distance.reliable_observation == "Yes"%>
       Yes 
     <% else %>
      No
     <% end %>
    </td>

    <td title='Delete this waypoint.'>
        <%= link_to weather_distance, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= image_tag 'delete.png', style: 'height: 10%;'%>
        <% end %>
    </td>

  </tr>
  <% end %>
</table>



