<table id="second_weather_table" border="1"  style="width: 95%;">
    <tr>
      <td class="f-size-8"> 
        <table border="1" style="width: 220px;"> 
          <tr><td colspan="12" style="text-align: center;"> Position </td> </tr>
          <tr> 
            <td colspan="6" style="text-align: center; font-size: 10px;"> Latitude </td>
            <td colspan="6" style="text-align: center; font-size: 10px;"> Longitude </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center; font-size: 10px;"> Deg </td>
            <td colspan="3" style="text-align: center; font-size: 10px;"> Min </td>
            <td colspan="1" style="text-align: center; font-size: 10px;"> N/S </td>

            <td colspan="2" style="text-align: center; font-size: 10px;"> Deg </td>
            <td colspan="3" style="text-align: center; font-size: 10px;"> Min </td>
            <td colspan="1" style="text-align: center; font-size: 10px;"> E/W </td>
          </tr>
        </table>

      </td>

	  	<td class="f-size-8">True wind force <br>(BF)</td>
	  	<td class="f-size-8">True Wind<br>direction<br>(000-359)</td>
	  	<td class="f-size-8">True Wind<br>speed<br>(in Knots)</td>

	  	<td class="f-size-8">Wave height <br>(in meters)</td>
      <td class="f-size-8">True Swell Direction <br>(000-359)</td>
      <td class="f-size-8">True Swell Height <br>(in meters)</td>

      <td class="f-size-8"> Water depth<br>(in meters)</td>
      <td class="f-size-8"> Couse over <br>ground <br>(000-359)</td>
	  	<td class="f-size-8"> Gyro course <br>(000-359)</td>
	  	<td class="f-size-8"> Compass course <br>(000-359)</td>

      <td class="f-size-8">Is the<br>observation <br> Reliable ?</td>
    </tr>

    <tr>

      <td style="width: 220px; font-size:10px;">

        <%= number_field_tag "position[][lat_degree]",nil, :required => true, :min => 0, :max => 90, :style => 'width: 40px;', :class => 'padding-0-col' %>

        <%= number_field_tag "position[][lat_min]",  nil, :required => true, :step =>'0.01', :min=> '0.00', :max => '59.99', :style => 'width: 40px;' , :class => 'padding-0-col'  %>

         <select name="position[][lat_dir]"  style="width: 30px;height: 23px;" class = 'padding-0-col' >
            <option value="N">N</option>
            <option value="S">S</option>
         </select>

        <%= number_field_tag "position[][long_degree]",nil, :required => true, :min => 0, :max => 90, :style => 'width: 40px;', :class => 'padding-0-col'  %>

        <%= number_field_tag "position[][long_min]",  nil, :required => true, :step =>'0.01', :min=> '0.00', :max => '59.99', :style => 'width: 40px;' , :class => 'padding-0-col'  %>

         <select name="position[][long_dir]"  style="width: 30px;height: 23px;" class='padding-0-col'  >
            <option value="W">W</option>
            <option value="E">E</option>
         </select>
      </td>

      <!-- True wind force(BF) -->
      <td>
        <%= number_field_tag "weather[][true_wind_force]",nil, :required => true, :style => 'width: 76px;',:min=> '0', :max => '99' %>
      </td>

      <!-- True wind direction -->
      <td>
        <%= number_field_tag "weather[][true_wind_dir]",nil, :required => true, :style => 'width: 60px;',:min=> '000', :max => '359' %>
      </td>

      <!-- True wind speed in Knots -->
      <td>
        <%= number_field_tag "weather[][true_wind_speed_knots]",nil, :required => true, :style => 'width: 48px;',:min=> '0', :max => '100' %>
      </td>

      <!-- Wave height in meters(Seas) -->
      <td>
        <%= number_field_tag "weather[][wave_height]",nil, :required => true, :style => 'width: 60px;',:min=> '0', :max => '100' %>
      </td>

      <!-- True Swell Direction (0-359 degrees) -->
      <td>
        <%= number_field_tag "weather[][true_swell_direction]",nil, :required => true, :style => 'width: 76px;',:min=> '000', :max => '359' %>
      </td>

    <!-- True Swell height in meters -->
    <td>
      <%= number_field_tag "weather[][true_swell_height]",nil, :required => true, :style => 'width: 60px;',:min=> '0', :max => '100' %>
    </td>

    <!-- Water depth in meters -->
    <td>
      <%= number_field_tag "weather[][water_depth]",nil, :required => true, :style => 'width: 52px;',:min=> '0', :max => '10000' %>
    </td>

    <!-- Couse over ground (0-359) -->
    <td>
      <%= number_field_tag "weather[][couse_over_ground]",nil, :required => true, :style => 'width: 44px;',:min=> '000', :max => '359' %>
    </td>

    <!-- Gyro course (0-359) -->
    <td>
      <%= number_field_tag "weather[][gyro_course]",nil, :required => true, :style => 'width: 44px;',:min=> '000', :max => '359' %>
    </td>

    <!-- Compass course (0-359) -->
    <td>
      <%= number_field_tag "weather[][compass_course]",nil, :required => true, :style => 'width: 48px;',:min=> '000', :max => '359' %>
    </td>

    <!-- Reliable Observation -->
    <td>
     <select name="weather[][reliable_observation]" style ='width: 60px;font-size: 10px; height: 23px;' >
          <option value="Reliable">Yes</option>
          <option value="Non-Reliable">No</option>
     </select>
    </td>

  </tr>

</table>
